/* antonio-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Antonio";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/antonio-v19-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* league-spartan-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/league-spartan-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/league-spartan-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* league-spartan-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/league-spartan-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  height: auto;
  display: flex;
  object-fit: cover;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg-image.svg");
  background-color: #070724;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "League Spartan", sans-serif;
  font-size: 1.4rem;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.header__container {
  max-width: 1480px;
  display: flex;
  align-items: center;
}
.site-logo {
  margin-right: auto;
}
.sitenav {
}
.sitenav__list {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}
.sitenav__item {
}
.sitenav__link {
  font-family: "Spartan" sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.27;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.75;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;
  border-top: 4px solid transparent;
}

.sitenav__link:hover {
  opacity: 1;
  border-top-color: #6d2ed5;
}

.header__burger {
  display: none;
}

.main {
  flex-grow: 1;
}

/* ------MAIN START------- */
.main {
}
.hero {
}
.hero__container {
  padding-top: 12.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__img {
  /* width: 100%; */
  height: auto;
  margin-right: 4rem;
}
.hero__content {
  width: 100%;
  max-width: 350px;
}
.hero__title {
  font-family: "Antonio" sans-serif;
  font-size: 8rem;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  font-weight: normal;
  margin-bottom: 2.3rem;
}
.hero__description {
  color: #fff;
  font-style: 1.4rem;
  margin-bottom: 2 4rem;
  line-height: 1.78;
  margin-bottom: 3.9rem;
  display: inline-block;
}

.hero__info {
  color: #fff;
  opacity: 0.5;
  margin-bottom: 3.9rem;
  display: inline-block;
}

.hero__info__link {
  font-weight: bold;
  text-decoration: underline;
}

.hero-button {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.hero-button-item {
  width: 100%;
  max-width: 350px;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 2.8rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
}

.hero-button-item:hover {
  background: rgba(216, 216, 216, 0.2);
}

#active {
  background: #6d2ed5;
  border-color: #6d2ed5;
}

.hero__buttons__number {
  opacity: 0.5;
  padding-right: 2.5rem;
}
.hero__buttons__text {
}

/* ------VERY NEWWWW START */

.mobile__hero__button {
  padding-top: 20px;
}
.mobile__list {
  display: flex;
}
.mobile__list__item {
  width: 80px;
  color: #fff;
  text-align: center;
  font-family: "Spartan", sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  text-transform: uppercase;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

/* ---------- VERY NEW END -------- */
/* ----------MAIN START--------- */

/* ------ MEDIA ------- */
@media screen and (max-width: 868px) {
  .header__container {
    flex-direction: column;
    align-items: center;
    padding-top: 3.2rem;
    padding-bottom: 2.7rem;
    padding-left: 50px;
    padding-right: 50px;
  }

  .site-logo {
    margin-right: 0;
  }

  .site-logo {
    margin-bottom: 3.9rem;
  }

  .sitenav__list {
    flex-wrap: wrap;
  }

  .sitenav__link {
    padding: 0;
    border-top: 0;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__title {
    font-size: 4.8rem;
  }

  .hero__img {
    margin-right: 0;
    margin-bottom: 6.7rem;
  }

  .hero__content {
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .hero__inner__wrapper {
    width: 339px;
    margin-right: auto;
  }

  .hero-button-item {
    width: 281px;
  }

  .hero__img {
    width: 285px;
    height: 285px;
  }
  /* .mobile__hero__button {
    display: none;
  } */
}

@media screen and (max-width: 730px) {
  .hero__content {
    flex-direction: column;
  }

  .hero__inner__wrapper {
    width: 100%;

    text-align: center;
  }
  /* .mobile__hero__button {
    display: none;
  } */
}

@media screen and (max-width: 375px) {
  .header__container {
    flex-direction: row;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .site-logo {
    margin-right: auto;
    margin-bottom: 0;
  }
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .sitenav {
    display: none;
  }
  .header__burger {
    display: block;
  }

  .hero-button {
    display: none;
  }

  .mobile__hero__button {
    padding-top: 20px;
    text-align: center;
  }

  .mobile__list {
    gap: 4.3rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  .mobile__list__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    border-top: 4px solid transparent;
  }

  .mobile__list__item:hover {
    width: 80px;
    height: 4px;
    border-bottom-color: #6d2ed5;
  }
}
/* ------------- MAIN END --------- */
